
@{
    ViewBag.Title = "ForgeteResult";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
}

@* Jacky 1120611 製作 *@
<div class="card border-secondary my-5 card-size-small">
    <div class="card-header text-white text-center bg-primary">忘記密碼重寄訊息</div>
    <div class="card-body text-secondary">
        <h5 class="card-title text-center">@ViewBag.MessageText</h5>
        <hr />
        @Html.ActionLink("會員登入", "Login", "Web", new { area = "" }, new { @class = "btn btn-success float-start" })
        @Html.ActionLink("回到首頁", "Index", "Home", new { area = "" }, new { @class = "btn btn-dark float-end" })
    </div>
</div>
