@{
    ViewBag.Title = "ValidateForget";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
}

@* Jacky 1120610 製作 *@
<div class="card card-size-small mt-5 shadow">
    <div class="card-header text-white bg-primary">
        <div class="float-start">
            <h3>@AppService.AppName</h3>
        </div>
        <div class="float-end">
            <h3>密碼重寄驗證結果</h3>
        </div>
    </div>
    <div class="card-body pt-4">
        <div class="form-horizontal">
            <div class="row form-group">
                <div class="col-md-12">
                    <p class="card-text">@TempData["MessageText"]</p>
                    @Html.ActionLink("會員登入", "Login", "Web", new { area = "" }, new { @class = "btn btn-primary float-start" })
                    @Html.ActionLink("回到首頁", "Index", "Home", new { area = "" }, new { @class = "btn btn-dark float-end" })
                </div>
            </div>
        </div>
    </div>
</div>
