USE [web111b_16_tea]
GO
ALTER TABLE [dbo].[Drinks] DROP CONSTRAINT [DF_Drinks_SaleDate]
GO
ALTER TABLE [dbo].[Drinks] DROP CONSTRAINT [DF__Drinks__Price__37C5420D]
GO
ALTER TABLE [dbo].[Drinks] DROP CONSTRAINT [DF_Drinks_ProductName]
GO
ALTER TABLE [dbo].[Drinks] DROP CONSTRAINT [DF_Drinks_FileName]
GO
ALTER TABLE [dbo].[Drinks] DROP CONSTRAINT [DF_Drinks_CodeNo]
GO
/****** Object:  Index [PK_Drinks]    Script Date: 2023/6/13 下午 03:41:45 ******/
ALTER TABLE [dbo].[Drinks] DROP CONSTRAINT [PK_Drinks]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 2023/6/13 下午 03:41:45 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Drinks]') AND type in (N'U'))
DROP TABLE [dbo].[Drinks]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 2023/6/13 下午 03:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeNo] [nvarchar](50) NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Price] [int] NOT NULL,
	[SaleDate] [date] NOT NULL,
	[DetailText] [nvarchar](max) NULL,
	[Remark] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Drinks] ON 

INSERT [dbo].[Drinks] ([Id], [CodeNo], [FileName], [ProductName], [Price], [SaleDate], [DetailText], [Remark]) VALUES (1, N'Fresh', N'Fresh001', N'金桔檸檬', 65, CAST(N'2023-05-31' AS Date), N'新鮮金桔汁搭配上鮮榨檸檬汁，酸甜滋味給您滿滿的surprise！', N'')
INSERT [dbo].[Drinks] ([Id], [CodeNo], [FileName], [ProductName], [Price], [SaleDate], [DetailText], [Remark]) VALUES (2, N'Fresh', N'Fresh002', N'炸彈檸檬冰沙', 70, CAST(N'2023-05-31' AS Date), N'整顆新鮮檸檬原汁原味入茶，獨家直擊，超完美比例最好喝！', N'')
INSERT [dbo].[Drinks] ([Id], [CodeNo], [FileName], [ProductName], [Price], [SaleDate], [DetailText], [Remark]) VALUES (3, N'Fresh', N'Fresh003', N'鮮果百香綠', 65, CAST(N'2023-05-31' AS Date), N'喝起來略帶有淡淡茉莉香氣綠茶搭配新鮮百香原汁，特別獻給愛嚐鮮的您！', N'')
SET IDENTITY_INSERT [dbo].[Drinks] OFF
GO
/****** Object:  Index [PK_Drinks]    Script Date: 2023/6/13 下午 03:41:45 ******/
ALTER TABLE [dbo].[Drinks] ADD  CONSTRAINT [PK_Drinks] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Drinks] ADD  CONSTRAINT [DF_Drinks_CodeNo]  DEFAULT ('') FOR [CodeNo]
GO
ALTER TABLE [dbo].[Drinks] ADD  CONSTRAINT [DF_Drinks_FileName]  DEFAULT ('') FOR [FileName]
GO
ALTER TABLE [dbo].[Drinks] ADD  CONSTRAINT [DF_Drinks_ProductName]  DEFAULT ('') FOR [ProductName]
GO
ALTER TABLE [dbo].[Drinks] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Drinks] ADD  CONSTRAINT [DF_Drinks_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
